# java metadata

java/.metadata/
java/AyED/.classpath
java/AyED/bin
java/AyED/.project
java/AyED/.settings/org.eclipse.core.resources.prefs
java/AyED/.settings/org.eclipse.jdt.core.prefs
java/OO1/.classpath
java/OO1/.project
java/OO1/.settings
java/OO1/readme*
java/OO1/pom.xml
java/OO1/target
java/OO1/src/test/
java/OO2/.classpath
java/OO2/.project
java/OO2/.settings
java/OO2/readme*
java/OO2/pom.xml
java/OO2/target
java/OO2/src/test/

# ejecutables y otros archivos pascal
pascal/archivosPractica1/2025/*.o
pascal/archivosPractica1/2025/*.exe
pascal/archivosPractica1/2026/*.o
pascal/archivosPractica1/2026/*.exe
pascal/practica2/*.o
pascal/practica2/*.exe
# git ignore
.gitignore

#pendientes
pendientes.txt

#maven
java/apache-maven-3.9.11/